

body {

    display: block;
    margin: 5px;
}

header, footer {
    background: linear-gradient(135deg, #e673dc 0%, #1088b1 100%);
    color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px 0;
    
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 20px;
}

header {
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
    flex-wrap: wrap;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 20px;
}

header img#logo, footer img#footer-logo {
    height: 100px;
    width: 100px;
    margin: 10px;
    border: 5px solid #fff;
    border-radius: 50%;
}

header button, footer button {
    height: 70px;
    width: 150px;
    border: 2px solid white;
    background-color: #0056b3;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
    transition: background-color 0.3s ease, color 0.3s ease, height 0.3s ease, width 0.3s ease;
    word-wrap: break-word;
    white-space: normal;
    margin: 5px;
}

header button:hover, footer button:hover {
    background-color: #003d80;
    color: #fff;
}

.map-container {
    order: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% - 200px);
    margin: 20px auto;
    box-sizing: border-box;
}

.footer-content {
    order: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
}

.footer-left, .footer-center, .footer-right {
    flex: 1;
}

.footer-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer .info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: right;
}

footer .info a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

footer .info a:hover {
    color: brown;
    text-decoration: underline;
}

footer .info div {
    margin-top: 10px;
}

/* Медиазапросы */
@media (max-width: 1600px) {
    header button, footer button {
        height: 80px;
        width: 160px;
        font-size: 15px;
    }

    header img#logo, footer img#footer-logo {
        height: 90px;
        width: 90px;
    }

    .map-container {
        width: calc(100% - 150px);
    }
}

@media (max-width: 1200px) {
    header button, footer button {
        height: 90px;
        width: 180px;
        font-size: 14px;
    }

    header img#logo, footer img#footer-logo {
        height: 80px;
        width: 80px;
    }

    .map-container {
        width: calc(100% - 100px);
    }
}

@media (max-width: 800px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }

    .footer-content {
        flex-direction: column;
        align-items: center;
    }

    header button, footer button {
        height: 100px;
        width: 200px;
        font-size: 13px;
    }

    header img#logo, footer img#footer-logo {
        height: 70px;
        width: 70px;
    }

    .map-container {
        width: calc(100% - 50px);
    }
}

@media (max-width: 600px) {
    header {
        padding-left: 10px;
        padding-right: 10px;
        flex-direction: column;
        align-items: center;
    }

    .footer-content {
        padding: 0 10px;
    }

    header button, footer button {
        height: 110px;
        width: 220px;
        font-size: 12px;
    }

    header img#logo, footer img#footer-logo {
        height: 60px;
        width: 60px;
    }
}
