@font-face {
    font-family: 'Raleway';
    src: url('E:/Разработка WEB-представительств/Lab_4/fonts/Raleway/static/Raleway-ExtraBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  body {
    font-family: 'Raleway',sans-serif
  }

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: antiquewhite;
    margin-bottom: 50px;
    padding-left:20px ;
    padding-right: 20px;
    
}
#logo{
    height: 100px;
    width: 100px;
    margin: 10px;
    border: 5px solid blue;
}
button{
    height: 50px;
    width: 100px;
    border: 2px solid black;
}
footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: antiquewhite;
    width: 100%;
    
   
}

.map-container {
    order: 1; /* Этот блок будет ниже */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    
    
    
}

.footer-content {
    order: 2; /* Этот блок будет ниже */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    text-align: center;
    
}

.text {
    line-height: 3;
}
img[alt]{
    width: 400px;
    height: 300px;

}
.text b{
    background-color: aquamarine;
}




.button:hover{
    color: brown;
    text-transform: uppercase;
    
}
p::first-letter{
    color: black;
}
.TEXT{
    text-align: center;
}
.centered-list{
    text-align: center;
    list-style-position: inside;
}
footer{
    margin-top: 100px;
}
.ST{
    
  text-align: center;
}
.Product{
    border: 1px solid#33333333;
    display: flex;
    flex-direction:column ;
    align-items: center;
    width: calc(25% - 30px );
    padding: 6px 12 px;
    margin-bottom: 20px;
    
}
.Product-image{
    width: 280px;
    display: flex;
    align-items: center;
    padding-top: 20px;

}
.Product-image img{
    max-width: 100%;
}
.Catalog{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
    
}
aside{
    margin-bottom: 20px;
}
.Product-name{
    margin-top: 10px;
    
}
.dostavka{
    margin-bottom: 10px;
}